layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
    }
    tab name="lisa" {
        pane stacked=true size="70%" {
            pane
            pane
            pane
            pane
        }
        pane size="30%" {
            plugin location="file:///var/folders/kn/7f93dn8n1wb51m_jydvylncw0000gn/T/lisa-plugin-b95563cff749549f.wasm" {
                ticket_dir "docs/active/tickets"
                story_dir  "docs/active/stories"
                work_dir   "docs/active/work"
                max_threads "2"
                auto_advance "false"
                review_timeout_secs "600"
                session_timeout_secs "3600"
                wind_down_secs "300"
            }
        }
    }
}
